{% extends "layouts/layout.html" %}

{% block title %}
  Forgot Password
{% endblock %}

{% block body %}

    <h3 class="heading">Forgot Password</h3>

    {% if message %}
        <div class="msg-error">{{ message }}</div>
    {% endif %}
    <div class="form__container--auth">
        <form action="{% url 'forgot_password' %}" method="post" class="form">
            {% csrf_token %}
                <input class="form__input" type="email" name="email" placeholder="example@example.com">
            <input class="btn" type="submit" value="Send Email">

            <div class="form__opts-container">
                <p class="form__opts">Don't have an account? <a href="{% url 'register' %}"> Register here.</a></p>
                <p class="form__opts">Already have an account? <a href="{% url 'login' %}"> Log In here.</a></p>
            </div>
        </form>
    </div>
    
{% endblock %}
