{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
  Reset Password
{% endblock %}

{% block body %}

    <h3 class="heading">Reset Password</h3>

    {% if message %}
        <div class="msg-error">{{ message }}</div>
    {% endif %}
    <div class="form__container--auth">
        <form action="{% url 'reset_password' %}" method="post" class="form">
            {% csrf_token %}
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">

            <input class="form__input" type="email" name="email" placeholder="Confirm your email" required>
            <input class="form__input" type="password" name="password" placeholder="New Password" id="input-pass" required>
            <input class="form__input" type="password" name="confirmation" placeholder="Confirm Password" id="input-pass-conf" required>

                <div class="form__pass-val">
                    <div>
                        <div class="form__pass-item">
                            <img src="{% static 'img/empty-check-white.svg' %}" alt="Check Icon" class="form__pass-icon" id="pass-check-car">
                            <p id="pass-item-car">Password must be at least 8 characters long</p>
                        </div>
                        <div class="form__pass-item">
                            <img src="{% static 'img/empty-check-white.svg' %}" alt="Check Icon" class="form__pass-icon" id="pass-check-up">
                            <p id="pass-item-up">Password must contain at least one uppercase letter</p>
                        </div>

                        <div class="form__pass-item">
                            <img src="{% static 'img/empty-check-white.svg' %}" alt="Check Icon" class="form__pass-icon" id="pass-check-equal">
                            <p id="pass-item-equal">Password and confirmation must match</p>
                        </div>
                    </div>

                    <div>
                        <div class="form__pass-item">
                            <img src="{% static 'img/empty-check-white.svg' %}" alt="Check Icon" class="form__pass-icon" id="pass-check-low">
                            <p id="pass-item-low">Password must contain at least one lowercase letter</p>
                        </div>

                        <div class="form__pass-item">
                            <img src="{% static 'img/empty-check-white.svg' %}" alt="Check Icon" class="form__pass-icon" id="pass-check-num">
                            <p id="pass-item-num">Password must contain at least one number</p>
                        </div>
                    </div>
                </div>

            <input class="btn btn-disabled" type="submit" value="Reset Password" id="form-btn-submit" disabled>

        </form>
    </div>

{% endblock %}

